body {
  margin: 0;
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 55px 0 0 0;
}

.head-section {
  display: flex;
}

.half-width {
  width: 50%;
  margin-left: 100px;
}

.half-width img {
  width: 70%;
}

.half-width p {
  margin-bottom: 50px;
}

.dev-color {
  color: #f9a825;
}

.name-color {
  color: rgb(11, 243, 107);
}

.link-button {
  background-color: #c8ff02;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 7px;
}

/* 2nd section */

.middle-section {
  display: flex;
  margin-top: 100px;
}

.third-section {
  margin: 90px;
}

.third-section-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.third-section-first-container {
  box-shadow: 5px 7px 40px grey;
  width: 30%;
  text-align: center;
  border-radius: 10px;
}

.third-section-first-container h1 {
  margin: 0;
  color: #c8ff02;
  text-transform: uppercase;
}

.third-section-first-container p small {
  text-transform: uppercase;
  color: #f9a825;
}

.third-section-first-container p {
  color: rgb(105, 105, 105);
}

.third-section-second-container {
  box-shadow: 5px 7px 40px grey;
  width: 30%;
  text-align: center;
  border-radius: 10px;
}

.third-section-second-container h1 {
  margin: 0;
  color: #c8ff02;
  text-transform: uppercase;
}

.third-section-second-container p small {
  text-transform: uppercase;
  color: #f9a825;
}

.third-section-second-container p {
  color: rgb(105, 105, 105);
}

.third-section-third-container {
  box-shadow: 5px 7px 40px grey;
  width: 30%;
  text-align: center;
  border-radius: 10px;
}

.third-section-third-container h1 {
  margin: 0;
  color: #c8ff02;
  text-transform: uppercase;
}

.third-section-third-container p small {
  text-transform: uppercase;
  color: #f9a825;
}

.third-section-third-container p {
  color: rgb(105, 105, 105);
}

.third-section-heading {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0 10px 0;
  color: rgb(170, 163, 163);
}
